<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <clear/>
  <!-- <add name="DataCenterMain" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.110)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl)));User ID=LandUseConfig;Password=LandUseConfig;" /> -->
  <add name="DataCenterMain" connectionString="Data Source=Data\LandUseConfig.db;Version=3;" providerName="System.Data.SQLite" />
  <!--<add name="DataCenterMain" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.110)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl)));User ID=stest;Password=stest;" />-->
  <!--<add name="DataCenterMain" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.110)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl)));User ID=shenmu;Password=123456;" />-->
  <add name="MainDataCheckConfig" connectionString="Data Source=Data\main.db;Version=3;"  providerName="System.Data.SQLite" />
  <add name="ComonDataCheckConfig" connectionString="Data Source=Data\检查方案\三调检查软件.db;Version=3;"   providerName="System.Data.SQLite"/>
  <!--E:\cl\work\数据中心\三调建库系统\SVN\01开发库\05代码\01trunk\bin\Debug-->
</connectionStrings>